@use '@/styles/functions' as f;
@use '@/styles/variables' as *;

.checkbox {
	display: flex;
	gap: 1em;
	align-items: center;

	&__input {
		flex-shrink: 0;
		inline-size: 1em;
		block-size: 1em;
		font-size: inherit;
	}
	&__text {
		flex-grow: 1;
		&:not(:checked ~ &):not(:indeterminate ~ &) {
			color: oklch(from currentColor l c h / 0.5);
			text-decoration: line-through;
		}
		:indeterminate ~ & {
			color: oklch(from currentColor l c h / 0.5);
		}
	}
}
