@use "@/styles/functions" as f;
@use "@/styles/variables" as *;
@use "@/styles/mixins" as m;

.notification-list {
	position: fixed;
	top: f.rem(24);
	left: 0;
	z-index: 3;

	display: grid;
	grid-template-areas: "stack";
	place-items: center stretch;
	padding: 0 f.rem(15);
}
