@use '@/styles/functions' as f;
@use '@/styles/variables' as *;
@use '@/styles/mixins' as m;

.notification {
	position: absolute;
	top: f.rem(24);
	left: 0;
	width: f.rem(300);
	padding: 0.8em 1.6em;
	font-size: f.rem(14);
	line-height: 1.4;
	color: f.cl($cd-text);
	text-align: center;
	pointer-events: none;
	background-color: f.cl($cd-glass-background, 0.45);
	border-radius: f.rem(14);
	box-shadow: 0 f.rem(6) f.rem(24) rgba(0, 0, 0, 0.2);
	opacity: 0;
	backdrop-filter: blur(12px) saturate(150%);
	//translate: -50% 0;
	transition:
		top 0.35s ease,
		opacity 0.35s ease;

	&--neutral,
	&--positive,
	&--negative {
		pointer-events: auto;
		user-select: none;
		opacity: 1;

		&:nth-child(2) {
			top: f.rem(32);
		}
		&:nth-child(3) {
			top: f.rem(40);
		}
	}
	&[data-dragging='true'] {
		transition: none;
	}

	&--positive {
		@include m.glassyBorder(
			0deg f.rem(1),
			$colors: (f.cl($cd-positive), transparent, transparent, f.cl($cd-positive)),
			$animate: true
		);
	}

	&--negative {
		@include m.glassyBorder(
			0deg,
			f.rem(1),
			$colors: (f.cl($cd-negative, 0.5), transparent, transparent, f.cl($cd-negative, 0.5)),
			$animate: true
		);
	}

	&--vanishing {
		animation: vanish 0.35s;
	}
}

@keyframes vanish {
	0% {
		opacity: 1;
	}
	100% {
		top: 0;
		opacity: 0;
		transform: translateY(-100%);
	}
}
