@use 'sass:map';
@use 'functions' as f;
@use 'variables' as *;

@mixin themeToVars($theme) {
	@each $key, $value in $theme {
		@if $key != '_scheme' {
			--color-#{$key}: #{$value};
		}
	}
}

$devices: (
	tabletReset: 'width > 1024px',
	tablet: '1024px >= width',
	tabletOnly: '1024px >= width > 530px',
	mobileReset: 'width > 530px',
	mobile: '530px >= width'
);
@mixin adaptive($device) {
	@media (map.get($devices, $device)) {
		@content;
	}
}

/* @mixin glassyBorder(
	$startColor: f.cl($cd-glass-border, 0.25),
	$endColor: f.cl($cd-glass-border, 0.05),
	$deg: 135deg,
	$borderWidth: f.rem(1)
) {
	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		inset: 0;
		border-radius: inherit;
		border: $borderWidth solid transparent;
		background: linear-gradient($deg, $startColor, $endColor) border-box;
		mask:
			linear-gradient(black, black) border-box,
			linear-gradient(black, black) padding-box;
		mask-composite: subtract;
	}
} */

@mixin glassyBorder($deg: 135deg, $borderWidth: f.rem(1)) {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		inset: 0;
		border-radius: inherit;
		border: $borderWidth solid transparent;
		background: linear-gradient(
				var(--border-deg, #{$deg}),
				var(--border-start, f.cl($cd-glass-border, 0.25)),
				var(--border-end, f.cl($cd-glass-border, 0.05))
			)
			border-box;
		mask:
			linear-gradient(black, black) border-box,
			linear-gradient(black, black) padding-box;
		mask-composite: subtract;
		transition: background 0.35s ease; // чтобы градиент менялся плавно
	}
}

@mixin btn() {
	@include glassyBorder();
	display: flex;
	align-items: center;
	justify-content: center;
	width: f.rem(45);
	height: f.rem(45);
	background-color: f.cl($cd-glass-background, 0.25);
	border-radius: 50%;
	svg {
		width: 50%;
		height: 50%;
		fill: currentColor;
	}
}
