@use 'sass:map';
@use 'functions' as f;
@use 'variables' as *;

@mixin themeToVars($theme) {
	@each $key, $value in $theme {
		@if $key != '_scheme' {
			--color-#{$key}: #{$value};
		}
	}
}

$devices: (
	tabletReset: 'width > 1024px',
	tablet: '1024px >= width',
	tabletOnly: '1024px >= width > 530px',
	mobileReset: 'width > 530px',
	mobile: '530px >= width'
);
@mixin adaptive($device) {
	@media (map.get($devices, $device)) {
		@content;
	}
}

@property --angle {
	syntax: '<angle>';
	inherits: false;
	initial-value: 0deg;
}

@mixin glassyBorder(
	$deg: 135deg,
	$borderWidth: f.rem(1),
	$colors: (
		f.cl($cd-glass-border, 0.25),
		f.cl($cd-glass-border, 0.05),
		f.cl($cd-glass-border, 0.25)
	),
	$animate: false
) {
	--angle: $deg;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		inset: 0;
		border-radius: inherit;
		border: $borderWidth solid transparent;
		background: conic-gradient(from var(--angle), $colors) border-box;
		mask:
			linear-gradient(black, black) border-box,
			linear-gradient(black, black) padding-box;
		mask-composite: subtract;

		@if $animate {
			animation: borderAnimation 5s infinite;
		}
	}
}
@keyframes borderAnimation {
	0% {
		--angle: 0deg;
	}
	100% {
		--angle: 360deg;
	}
}

@mixin btn($btn-width: 45, $btn-height: 45) {
	@include glassyBorder();
	display: flex;
	align-items: center;
	justify-content: center;
	width: f.rem($btn-width);
	height: f.rem($btn-height);
	background-color: f.cl($cd-glass-background, 0.25);
	border-radius: 50%;
	svg {
		width: 50%;
		height: 50%;
		fill: currentColor;
	}
}
