@use "@/styles/functions" as f;
@use "@/styles/variables" as *;
@use "@/styles/mixins" as m;
@use "@/styles/keyframes" as *;

.no-data {
	display: flex;
	flex-direction: column;
	gap: f.rem(15);
	align-items: center;

	&__text {
		font-weight: bold;
		text-align: center;

		[data-theme="light"] & {
			color: f.cl($cd-text, $l: "calc(l + 0.3)");
		}
		[data-theme="dark"] & {
			color: f.cl($cd-text, $l: "calc(l - 0.2)");
		}
	}
	&__image {
		width: 50%;
		animation: jumping 1s ease-in-out infinite alternate;

		picture {
			block-size: 100%;
		}
		img {
			filter: drop-shadow(0 f.rem(10) f.rem(10) f.cl($cd-accent, $a: 1));
		}
	}
}
