@use "@/styles/functions" as f;
@use "@/styles/variables" as *;
//flex layout ---------------------------------------------

.layout {
	position: relative;
	display: flex;
	flex-direction: column;
	min-block-size: 100svb;
	//overflow: hidden; // не будет работать sticky
	//overflow: clip; - будет работать. hidden - спрятать область, clip - обрезать
	overflow-wrap: break-word;
	$bg-options: fixed no-repeat top left / auto 100svh;
	background:
		radial-gradient(circle at 20% 30%, f.cl($cd-positive, $a: 0.3) 0%, transparent 50%) $bg-options,
		radial-gradient(circle at 80% 70%, f.cl($cd-negative, $a: 0.25) 0%, transparent 50%) $bg-options,
		radial-gradient(circle at 30% 80%, f.cl($cd-accent, $a: 0.2) 0%, transparent 60%) $bg-options,
		f.cl($cd-background) $bg-options;
}

// common -------------------------------------------------

.container {
	inline-size: 100%;
	min-inline-size: 320px;
	max-inline-size: f.rem(1130); //ширина контентной части
	padding: 0 f.rem(15); // плюсуешь 2x padding к контентной части
	margin: 0 auto;
}

//flex main -----------------------------------------------

.content {
	flex-grow: 1;
}
