@use '@/styles/functions' as f;
@use '@/styles/variables' as *;
@use '@/styles/mixins' as m;

.header {
	@include m.glassyBorder(0deg, f.rem(1));
	$btn-width: 45;
	$btn-height: 45;
	$gap: 20;

	display: flex;
	gap: f.rem($gap);
	align-items: center;
	justify-content: space-between;
	padding: f.rem(20) f.rem(40);
	margin: f.rem(20) auto;
	background-color: f.cl($cd-glass-background, 0.45);
	border-radius: f.rem(50);

	&::after {
		width: f.rem(2);
		height: f.rem(20);
		content: '';
		background-color: f.cl($cd-glass-background, 0.5);
		border-radius: f.rem(1);
	}

	&__nav {
		position: relative;

		ul {
			display: flex;
			gap: f.rem(20);
			align-items: center;
		}

		&-indicator {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			height: f.rem($btn-height);
			background-color: f.cl($cd-accent, 0.3);
			border-radius: f.rem($btn-height / 2);
			box-shadow: 0 0 f.rem(15) f.cl($cd-accent, 0.3);

			&--going-right {
				transition:
					right 0.3s ease-out,
					left 0.3s 0.15s ease-out;
			}

			&--going-left {
				transition:
					left 0.3s ease-out,
					right 0.3s 0.15s ease-out;
			}
		}
	}
	&__nav-link {
		@include m.btn();
		transition: color 0.3s 0.15s ease-out;

		&--active {
			color: f.cl($cd-accent);
		}
	}
}

@keyframes indicatorMoving {
	0% {
		transform: none;
	}
	100% {
		transform: scale(0.5);
	}
}
