@use "@/styles/functions" as f;
@use "@/styles/variables" as *;
@use "@/styles/mixins" as m;
@use "sass:math";

.header {
	@include m.glassyBorder(0deg, f.rem(1));
	$btn-width: 35;
	$btn-height: 35;
	$gap: 20;

	position: sticky;
	top: f.rem(5);
	z-index: 1;
	display: flex;
	gap: f.rem($gap);
	align-items: center;
	justify-content: space-between;
	padding: f.rem(15) f.rem(30);
	margin: f.rem(5) auto;
	background-color: f.cl($cd-glass-background, $a: 0.45);
	border-radius: f.rem(50);
	backdrop-filter: $liquid-blur-d;
	[data-theme="light"] & {
		backdrop-filter: $liquid-blur-l;
	}

	&::after {
		inline-size: f.rem(2);
		block-size: f.rem(20);
		content: "";
		background-color: f.cl($cd-glass-background, $a: 0.5);
		border-radius: f.rem(1);
	}

	[data-ui="theme-switcher"] {
		order: 1;
	}

	&__nav {
		&:not([data-init]) * {
			transition: none;
		}

		position: relative;

		ul {
			display: flex;
			gap: f.rem(20);
			align-items: center;
		}

		&-indicator {
			@include m.btn($btn-width, $btn-height);
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			z-index: -1;
			inline-size: auto;

			&--going-right {
				transition:
					right 0.3s ease-out,
					left 0.3s 0.15s ease-out;
			}

			&--going-left {
				transition:
					left 0.3s ease-out,
					right 0.3s 0.15s ease-out;
			}
		}
	}
	&__nav-link {
		display: flex;
		inline-size: f.rem($btn-width);
		block-size: f.rem($btn-height);
		color: f.cl($cd-text, $a: 0.6);
		transition: color 0.3s 0.15s ease-out;

		svg {
			inline-size: 50%;
			block-size: 50%;
			margin: auto;
			fill: currentColor;
		}

		&--active {
			color: f.cl($cd-text);
		}
	}
}

@keyframes indicatorMoving {
	0% {
		scale: none;
	}
	100% {
		scale: 0.5;
	}
}
