@use '@/styles/functions' as f;
@use '@/styles/variables' as *;
@use '@/styles/mixins' as m;

@property --card-gradient-positive-opacity {
	syntax: '<number>';
	inherits: false;
	initial-value: 0.1;
}
@property --card-gradient-negative-opacity {
	syntax: '<number>';
	inherits: false;
	initial-value: 0.1;
}
@property --card-gradient-positive-end {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 60%;
}
@property --card-gradient-negative-end {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 80%;
}
.product-card {
	--card-gradient-positive-opacity: 0.1;
	--card-gradient-negative-opacity: 0.1;
	--card-gradient-positive-end: 60%;
	--card-gradient-negative-end: 80%;
	--scale: 1;

	$border-width: f.rem(1);
	position: relative;
	min-width: 0;
	max-width: 100%;
	padding: calc(var(--scale) * f.rem(25));
	container-type: inline-size;
	line-height: 1.2;
	user-select: none;
	background:
		radial-gradient(
			ellipse at 25% 38%,
			f.cl($cd-positive, $a: var(--card-gradient-positive-opacity)) 10%,
			transparent var(--card-gradient-positive-end)
		),
		radial-gradient(
			ellipse at 75% 55%,
			f.cl($cd-negative, $a: var(--card-gradient-negative-opacity)) 30%,
			transparent var(--card-gradient-negative-end)
		),
		f.cl($cd-glass-background, $a: 0.25);
	border-radius: 13.7% / 9.9%;
	backdrop-filter: $blur;
	transition:
		--card-gradient-positive-opacity 0.4s,
		--card-gradient-negative-opacity 0.4s,
		--card-gradient-positive-end 0.4s,
		--card-gradient-negative-end 0.4s,
		translate 0.4s,
		left 0.4s,
		rotate 0.4s;

	@include m.glassyBorder(
		$colors: (
			transparent
		),
		$borderBackdropFilter: saturate(200%) contrast(150%)
	);

	&[data-dragging='true'] {
		transition: none;
	}

	&--vanishing-left {
		animation: vanishLeft 0.4s forwards;
	}

	&--vanishing-right {
		animation: vanishRight 0.4s forwards;
	}

	* {
		transition: opacity 0.2s;
	}

	&__tag {
		display: flex;
		align-items: center;
		max-height: calc(var(--scale) * f.rem(25));
		margin-bottom: calc(var(--scale) * f.rem(20));
		font-size: calc(var(--scale) * f.rem(12));
		color: f.cl($cd-small-text, $a: 0.6);
		text-wrap: nowrap;

		&-category,
		&-subcategory {
			overflow: hidden;
			text-overflow: ellipsis;
		}
		svg {
			flex-shrink: 0;
			width: 1em;
			height: 1em;
		}
	}
	&__image {
		display: flex;
		align-items: center;
		justify-content: center;
		height: calc(var(--scale) * f.rem(200));
		padding: calc(var(--scale) * f.rem(10));
		margin-bottom: calc(var(--scale) * f.rem(15));
		background-color: white;
		border-radius: calc(var(--scale) * f.rem(20));

		img {
			width: auto;
		}
	}
	&__price {
		font-size: calc(var(--scale) * f.rem(26));
		font-weight: 600;
		color: f.cl($cd-accent);
		sup {
			font-size: 0.6em;
		}
	}
	&__name {
		height: 1em * 3 * 1.2;
		margin-bottom: calc(var(--scale) * f.rem(15));
		overflow: hidden;
		font-size: calc(var(--scale) * f.rem(24));
		font-weight: bold;
	}
}

@keyframes vanishLeft {
	to {
		opacity: 0;
		transform: translateX(-100%);
		rotate: -15deg;
	}
}
@keyframes vanishRight {
	to {
		opacity: 0;
		transform: translateX(100%);
		rotate: 15deg;
	}
}
