@use '@/styles/functions' as f;
@use '@/styles/variables' as *;
@use '@/styles/mixins' as m;

@property --card-gradient-positive-opacity {
	syntax: '<number>';
	inherits: false;
	initial-value: 0.1;
}
@property --card-gradient-negative-opacity {
	syntax: '<number>';
	inherits: false;
	initial-value: 0.1;
}
@property --card-gradient-positive-end {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 60%;
}
@property --card-gradient-negative-end {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 80%;
}
.product-card {
	//todo слишком сильная прозрачность, раньше такого не было. Смотри запись экрана
	// Возможно чекнуть коммит
	--card-gradient-positive-opacity: 0.1;
	--card-gradient-negative-opacity: 0.1;
	--card-gradient-positive-end: 60%;
	--card-gradient-negative-end: 80%;

	$border-width: f.rem(1);
	position: relative;
	min-inline-size: 0;
	max-inline-size: 100%;
	container-type: inline-size;
	line-height: 1.2;
	user-select: none;
	background:
		radial-gradient(
			ellipse at 25% 38%,
			f.cl($cd-positive, $a: var(--card-gradient-positive-opacity)) 10%,
			transparent var(--card-gradient-positive-end)
		),
		radial-gradient(
			ellipse at 75% 55%,
			f.cl($cd-negative, $a: var(--card-gradient-negative-opacity)) 30%,
			transparent var(--card-gradient-negative-end)
		),
		f.cl($cd-glass-background, $a: 0.25);
	border-radius: 13.7% / 9.9%; // Радиус с соотношением сторон
	backdrop-filter: $blur;
	transition:
		--card-gradient-positive-opacity 0.4s,
		--card-gradient-negative-opacity 0.4s,
		--card-gradient-positive-end 0.4s,
		--card-gradient-negative-end 0.4s,
		translate 0.4s,
		left 0.4s,
		rotate 0.4s,
		opacity 0.2s,
		//wish-products
		scale 0.2s; //wish-products

	@include m.glassyBorder(
		$colors: (
			transparent
		),
		$border-backdrop-filter: saturate(200%) contrast(150%)
	);

	&[data-dragging='true'] {
		transition: none;
	}

	&--vanishing-left {
		animation: vanishLeft 0.4s forwards;
	}

	&--vanishing-right {
		animation: vanishRight 0.4s forwards;
	}

	&__content {
		padding: 9cqi;
		transition: opacity 0.2s; // products
	}

	&__tag {
		display: flex;
		align-items: center;
		max-block-size: 8.5cqi;
		margin-bottom: 7cqi;
		font-size: 4cqi;
		color: f.cl($cd-small-text, $a: 0.6);
		text-wrap: nowrap;

		&-category,
		&-subcategory {
			overflow: hidden;
			text-overflow: ellipsis;
		}
		svg {
			flex-shrink: 0;
			inline-size: 1em;
			block-size: 1em;
		}
	}
	&__image {
		display: flex;
		align-items: center;
		justify-content: center;
		block-size: 70cqi;
		padding: 3.5cqi;
		margin-bottom: 5cqi;
		background-color: white;
		border-radius: 7cqi;

		img {
			inline-size: auto;
		}
	}
	&__price {
		font-size: 9cqi;
		font-weight: 600;
		color: f.cl($cd-accent);
		sup {
			font-size: 0.6em;
		}
	}
	&__name {
		block-size: 1em * 3 * 1.2;
		margin-bottom: 5cqi;
		overflow: hidden;
		font-size: 8.5cqi;
		font-weight: bold;
	}
}

@keyframes vanishLeft {
	to {
		opacity: 0;
		transform: translateX(-100%);
		rotate: -15deg;
	}
}
@keyframes vanishRight {
	to {
		opacity: 0;
		transform: translateX(100%);
		rotate: 15deg;
	}
}
