@use '@/styles/functions' as f;
@use '@/styles/variables' as *;
@use '@/styles/mixins' as m;

@property --card-gradient-positive-opacity {
	syntax: '<number>';
	inherits: false;
	initial-value: 0.1;
}
@property --card-gradient-negative-opacity {
	syntax: '<number>';
	inherits: false;
	initial-value: 0.1;
}
@property --card-gradient-positive-end {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 60%;
}
@property --card-gradient-negative-end {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 80%;
}
.product-card {
	--card-gradient-positive-opacity: 0.1;
	--card-gradient-negative-opacity: 0.1;
	--card-gradient-positive-end: 60%;
	--card-gradient-negative-end: 80%;

	$border-width: f.rem(1);

	position: relative;
	display: flex;
	flex-direction: column;
	grid-area: stack;
	width: f.rem(320);
	padding: f.rem(35) f.rem(29);
	line-height: 1.2;
	background:
		radial-gradient(
			ellipse at 25% 38%,
			f.cl($cd-positive, var(--card-gradient-positive-opacity)) 10%,
			transparent var(--card-gradient-positive-end)
		),
		radial-gradient(
			ellipse at 75% 55%,
			f.cl($cd-negative, var(--card-gradient-negative-opacity)) 30%,
			transparent var(--card-gradient-negative-end)
		),
		f.cl($cd-glass-background, 0.25);
	border-radius: f.rem(40);
	backdrop-filter: $blur;
	transition:
		--card-gradient-positive-opacity 0.4s,
		--card-gradient-negative-opacity 0.4s,
		--card-gradient-positive-end 0.4s,
		--card-gradient-negative-end 0.4s,
		translate 0.4s,
		left 0.4s,
		rotate 0.4s;

	&[data-dragging='true'] {
		transition: none;
	}

	@include m.glassyBorder;
	* {
		transition: opacity 0.2s;
	}
	&:not(:last-child) {
		pointer-events: none;

		* {
			opacity: 0;
		}
	}
	&:nth-child(1) {
		translate: 0 f.rem(-20);
	}
	&:nth-child(2) {
		translate: 0 f.rem(-10);
		* {
			opacity: 0.5;
		}
	}
	&:nth-child(3) {
		translate: 0 f.rem(0);

		* {
			opacity: 1;
		}
	}

	&__tag {
		display: flex;
		align-items: center;
		height: f.rem(25);
		margin-bottom: f.rem(14.5);
		font-size: f.rem(12);
		color: f.cl($cd-small-text, 0.6);
		text-wrap: nowrap;

		&-category,
		&-subcategory {
			overflow: hidden;
			text-overflow: ellipsis;
		}
		svg {
			flex-shrink: 0;
			width: 1em;
			height: 1em;
		}
	}
	&__image {
		display: flex;
		align-items: center;
		justify-content: center;
		height: f.rem(200);
		padding: f.rem(10);
		margin-bottom: f.rem(14.5);
		background-color: white;
		border-radius: f.rem(20);

		img {
			width: auto;
		}
	}
	&__price {
		font-size: f.rem(27);
		font-weight: 600;
		color: f.cl($cd-accent);
		sup {
			font-size: f.rem(16);
		}
	}
	&__name {
		height: f.rem(24 * 3 * 1.2);
		margin-bottom: f.rem(14.5);
		overflow: hidden;
		font-size: f.rem(24);
		font-weight: bold;
	}
}
